/*Big tablet to 1200px (width smaller tahn 1140px row) */
@media only screen and (max-width: 1200px){
    .row{ padding:0 2%;}
    
}

/* Small tablet to big tablet: from 768px to 1023pox */
@media only screen and (max-width: 1023px){
    body{ font-size: 18px;}
    section{padding: 60px 0;}
    .part-of-section{ padding:80px 0;}
}

/* Small phones to small tablets: from . 481 to 767px */
@media only screen and (max-width: 767px){
        
    .mobile-nav-icon{        
        display: inline-block;
        color: #000;
        font-size: 140%;
        margin-top: 10px;
    }
    .main-nav{
        display: none;
        float: left;
        
        
    }
    .main-nav li {
        display: block;
    }
    .main-nav li a:link,
    .main-nav li a:visited{
        display: block;
    
    }
}

/* Small phones from 0 . to 480px */
@media only screen and (max-width: 480px){
    
}