*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    background-color: #fff;
    color: #585656;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.clearfix{
    zoom:1
}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*-----------------------------------------*/
/*REUSABLE COMPONENTS*/
/*-----------------------------------------*/
.row{
    max-width: 1140px;
    margin:0 auto;
}

.logo{
    height:90px;
    width:auto;
    float: left;
}

/* Header */
header{
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment:fixed;
}

/*Main Navigation*/
nav {
    border-bottom: 1px solid red;
}
.main-nav{
    float:right;
    list-style: none;
    margin-top:35px;
}

.main-nav li{
    display: inline-block;
    margin-left:40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    font-size:90%;
}

.hero-section{
    
   
    
}

.hero-section > div{
    width:40%;
    background-color: red;
    display: inline-block;
}




