*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    background-color: #fff;
    color: #585656;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.clearfix{
    zoom:1
}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*-----------------------------------------*/
/*REUSABLE COMPONENTS*/
/*-----------------------------------------*/

/* ******* Fluid Row ************* */
.row{
    max-width: 1140px;
    margin:0 auto;
}

/* ******* Section ************* */
section{
    padding: 80px 0;
}

/* ********** Buttons ********* */
.btn:link,
.btn:visited 
{
    display: inline-block;
    padding: 20px 40px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 200px;
    background-color: #fff;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s; 
    color: #3455b9;
    
}

.btn:hover, .btn:active{
    background-image: linear-gradient(138.54276504858632deg, #0d1a68, rgba(97, 47, 122, 0.7) 99.9%, rgba(73, 35, 91, 139) 99.9%, rgba(73, 35, 91, 139));
    color: #fff;
    border:1px solid #fff;
}

/* ******* Headings ************* */
h1, h2, h3{  
    font-weight: 300;
    
}
p{
    color:rgb(164,164,164);
}
h1{
    margin-top:30px;
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-size: 210%;
}

h2{
    color:sandybrown;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 100%;
    font-weight: 500;
}

h3{
    margin-top:30px; 
    font-size: 200%;
    font-weight: 500;
    line-height:1.5;
    color: rgb(34,31,126);
}

/* ********** Paragraphs in section ********* */
.paragraph-in-section{
    margin-top:20px;
    line-height: 1.5;
}

/* ********** text centered ********* */
.centered-text{
    text-align: center;
}

/*-----------------------------------------*/
/*                Header                   */
/*-----------------------------------------*/

header{
    min-height: 100vh;
    /*background-image:linear-gradient(-225deg, rgb(61, 78, 129,0.7) 0%, rgb(87, 83, 201,0.7) 48%, rgb(110, 127, 243, 0.7) 100%),url(img/hero.png); */
    background-image: linear-gradient(138.54276504858632deg, #0d1a68, rgba(97, 47, 122, 0.7) 99.9%, rgba(73, 35, 91, 139) 99.9%, rgba(73, 35, 91, 139)),url(img/hero.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Main Navigation*/
nav {
    /*border-bottom: 1px solid red;*/
    background-color: rgba(30, 25, 87,0.7)
}
.logo, .logo-black{
    height:80px;
    width:auto;
    float: left;
    padding: 5px 0;
}

.logo-black{
    display: none;

}

.main-nav{
    float:right;
    list-style: none;
    margin-top:35px;
    
}

.main-nav li{
    display: inline-block;
    margin-left:40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    font-size:90%;
    padding-bottom: 30px;
    color: #fff;
    transition: border-bottom 0.2s;
}

.main-nav li a:active,
.main-nav li a:hover{
    border-bottom: 2px solid #ff8;
}

/* Mobile Navigation */
.mobile-nav-icon{
    float: right;
    cursor: pointer;
    display: none;
}

ion-icon.menu-icon {
    font-size: 40px;
    color:#fff;
    
}

/* Sticky Navigation */
.sticky{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    z-index: 1;
    box-shadow:0 2px 2px #efefef;
}
nav.sticky{
    padding:20px 0;
}
.sticky .main-nav{
    margin-top:10px;
    
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    
    color: #555;
    transition: border-bottom 0.2s;
    padding-bottom: 15px;
}

.sticky .logo{ display: none}
.sticky .logo-black{
    display: block;
    height: 50px;
}
.sticky ion-icon.menu-icon {
    color: #101010;
}

/*----------------------------------------*/
/*               HOME                     */
/*----------------------------------------*/
.our-approach{
    background-color: rgb(247, 249, 251);
}

/******** testimonials *******************/
.testimonials{
    
}


.slide-container{
    margin-top: 40px;
    padding: 80px;
    display: none;
}
.slide-container img{
    float: right;
    height:350px;
    width: 350px;
    border-radius: 50%;
    margin-right: 10%;
} 

.testimonial-words{
    float: left;
    width: 70%;
    padding-left: 20px;
    text-align: left;
}

.testimonial-words h5{
    font-weight: 500;
    font-size: 110%;
    margin: 20px 0;
    color:rgb(34,31,126);
}
.testimonial-words h4{
    color:rgb(34,31,126);
    font-size: 120%;
}

.testimonial-words p{
    letter-spacing: 1.2;
    word-spacing: 5px;
    line-height: 1.5;
    color: rgb(164,164,164);
}
.slide-tracker{
    margin-top: -20px;
    margin-bottom: 40px;
}
.dots{
    width: 120px;
    margin: 0 auto;
}
.dot{
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.active {
  background-color: #717171;
}
    

.testimonials ion-icon:first-child{
    float: left;
}
.testimonials ion-icon:last-child{
    float: right;
}

/**************************************/
/* SECTION ABOUT US                   */
/**************************************/
.section-about-us{
    background-color:rgb(247, 249, 251); 
}

.text-details{ 
    width: 100%;
    margin: 0 auto;    
}
/*
.side-image{
    height: 400px;
    width: 90%;
    padding: 5%;
    position: relative;
}

.side-image img{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
*/
.centered-image{
    max-width: 100%;
    max-height: auto;
}



.side-image-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.side-image-container > div{
    /*min-width:400px;*/
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}



.part-of-section{
    padding:80px 0;
}
.part-of-section:first-child{
    padding-top: 0;
}
.part-of-section:last-child{
    padding-bottom: 0px;
}

img.team-member{
    width: 200px;
    height:200px;
}
.profiles{
    margin-top:10px;
}

.profile-box h4{
    color:rgb(34,31,126);
    font-size: 90%;
}

.profile-box p{
    margin-top: 6px;
}

.profile-box{
    text-align: center;
}
/**************************************/
/* SECTION SERVICES                   */
/**************************************/

.image-container{
    display: flex;
    height: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.section-services img{
    width:auto;
    height: 250px;
    transform: rotate(90deg)
}

.ai-heading h3, .devops-heading h3{
    margin-bottom: 20px;
    
}
.ai-heading h3{
    color: rgb(248, 161, 47);
}


/* ******************************/
/* Contact Us                   */
/* ******************************/

 input{
    border-style: none;
    border-bottom: 1px solid grey;
    margin-right: 10px;
    margin-bottom: 20px;
    background: transparent;
    outline:none;
    height:40px;
}
textarea{
    height: 200px;
    width: 500px;
    border-style: none;
    border-bottom: 1px solid grey;
    outline: none;
}

.section-contact-us .btn:link,
.section-contact-us .btn:visited
{
    margin-top: 20px;
    background-image: linear-gradient(138.54276504858632deg, #0d1a68, rgba(97, 47, 122, 0.7) 99.9%, rgba(73, 35, 91, 139) 99.9%, rgba(73, 35, 91, 139));
    color: #fff;
}

.section-contact-us .btn:active,
.section-contact-us .btn:hover
{
    border: 2px solid #fff;
}

.address{
    background-image: linear-gradient(138.54276504858632deg, #0d1a68, rgba(97, 47, 122, 0.7) 99.9%, rgba(73, 35, 91, 139) 99.9%, rgba(73, 35, 91, 139));
    color: white;
    padding: 60px;
    width:90%;
}
.address h3 {
    margin-top:0px;
    padding-top: 0;
    margin-bottom: 20px;
    font-weight: 550;
    color: #fff;
}
.address  p {
    font-weight: 200;
    font-size: 100%;
    line-height: 1;
    color: #fff;
}

.contact-icons img{
    height: 90px;
    width: 90px;
    
}
.contact-icons {
    width: 100%;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-icons > div{
    width: 104px;
    
}


/* ******************************/
/*       Blogs Section          */
/* ******************************/

.section-blogs{
    background-color: rgb(247, 249, 251); 
}
.blogs{
    margin-top: 40px;
}
.blog-content{
    margin: 0 auto;
    width: 80%;
    box-shadow: 1px 4px 4px 4px #eee;
}
.blog-content img{
    max-width: 100%;
    width: 100%;
    height:200px;
}
.blog-details{
    padding-left: 20px;
    padding-bottom: 10px;
}
.blog-content p, .blog-content h5 {
    margin: 15px 0;
}
.blog-content p{
    font-size: 80%;
    line-height: 1;
}

.blog-content p span{
    font-weight: 400;
}


/*----------------------------------------*/
/*                FOOTER                  */
/*----------------------------------------*/
footer{
    background-color: #333;
    padding: 40px;
    font-size: 80%;
}
.footer-icons-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:flex-start
}
.footer-icons-links > div{
    width:180px;
    padding: 10px 0;
    margin: 0 auto;
}
.footer-nav {
    list-style: none;
    float:left;
}

.social-links{
    list-style: none;
    float: right;
}

.footer-nav li, 
.social-links li{
    display: inline-block;
    margin-right: 20px;
}
.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active
{
    color: #ddd;
    
}
.social-links li a:link,
.social-links a:visited{
    font-size: 170%;
    
}
ion-icon {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

ion-icon[name=logo-facebook]:hover{
    color: #3b5998;
}

ion-icon[name=logo-twitter]:hover{
    color: #00aced;
}

ion-icon[name=logo-googleplus]:hover{
    color: #dd4b39;
}

ion-icon[name=logo-instagram]:hover{
    color: #517fa4;
}
    

footer p{
    color: #888;
    text-align: center;
    margin-top: 20px;
}

footer img {
    width: 100px;
    height: 100px;
}



/*----------------------------------------*/
/* ANIMATIONS                             */
/*----------------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4,
.js--wp-5{
    opacity: 0;
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-4.animated,
.js--wp-5.animated
{
    opacity: 1;
}



